.back {
  width: 5.5rem;
  height: 5.5rem;
  margin-left: 5vw;
  margin-top: 5vw;
  animation: fadeIn 1s forwards;
  background-image: url(../../assets/sprite.png);
  background-position: -655px -81px;
  transform: scale(0.7);
}
.my {
  background-image: url(../../assets/sprite.png);
  background-position: -20px -280px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: -30px;
  transform: scale(0.8);
}
.info {
  width: 90vw;
  height: 15vh;
  background-color: #A5A8D7;
  margin: 0 auto;
  margin-top: 6vh;
  border-radius: 1.5rem;
  animation: fadeIn 1s forwards;
  opacity: 0.6;
  box-shadow: 0 10px 20px #000;
  text-align: center;
  line-height: 7.5vh;
  font-size: 2rem;
}
.moreInfo {
  width: 90vw;
  height: 40vh;
  background-color: #A5A8D7;
  margin: 0 auto;
  margin-top: 7vh;
  border-radius: 1.5rem;
  animation: fadeIn 1s forwards;
  opacity: 0.6;
  box-shadow: 0 10px 20px #000;
  list-style: none;
  text-align: center;
  line-height: 8vh;
  font-size: 2rem;
}
.logout {
  width: 168px;
  height: 51px;
  text-align: center;
  line-height: 10vw;
  color: #A5A8D7;
  font-size: 1.33rem;
  margin: 5vh auto;
  animation: fadeIn 1s forwards;
  background-image: url(../../assets/sprite.png);
  background-position: -546px -5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
